@model dynamic

@{
    ViewBag.Title = PresentationLayer.Resources.Resources.ChampsTitle;

}
<div id="app">
    
    <div>
        <div class="fh5co_tags_all" style="padding: 100px;">
            <a v-bind:href="url+item.Key" class="fh5co_tagg" v-for="item in listChamps">{{item.Value}}</a>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                url:'@Url.Action("Index" , "Home")?champId=',

                imagesUrl: '../../images/',



                listChamps: [
                ],


          },
            created: function () {
                $.ajax({
                    url: '@Url.Action("GetAllChampionships", "Home")',
                        data: {
                            format: 'json'
                        },
                        success: function (data) {
                            app.listChamps = [];
                            for (var i = 0; i < data.length; i++) {
                                app.listChamps.push(data[i]);
                            }
                        },
                        type: 'GET'
                    });
                }
        });

</script>
}